@font-face {
  font-family: roboto-regular;
  src: url('../fonts/Handlee-Regular.ttf');
}
* {
  box-sizing: border-box;
  line-height: 175%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: handlee-regular;
}
body {
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  color: aliceblue;
}
.card {
  background-color: #000000;
  opacity: 0.6;
  color: floralwhite;
}
.list-group-item {
  background-color: #333;
  color: gray;
  border-radius: 7px;
  border: 2px solid #000000;
}
.list-group-item:hover {
  background-color: #000000;
  border-radius: 7px;
  border: 0;
  transform: scaleX(1.1);
}
.btn-success,
.btn-primary {
  background-color: #333;
  color: gray;
  border-radius: 7px;
  border: 2px solid #000000;
}
.btn-success:hover,
.btn-primary:hover {
  background-color: #000000;
  border-radius: 7px;
  border: 0;
  border-bottom: 2px solid #333;
  transform: skewY(2deg);
  transform: scaleX(1.5);
  transform: scaleY(1.5);
  transform: scaleZ(1.5);
}
a i {
  color: #000000;
}
a i:hover {
  color: #ffffff;
}
.footer a i {
  color: #333;
}
.footer a i:hover {
  color: #ffffff;
}
.nav a {
  color: #ffffff;
}
.nav a:hover {
  background: #000000;
  color: #333;
  border: 0;
}
.footer {
  background: #000000;
  opacity: 0.6;
  /* margin: 0;
  padding: 0;
  width: 100%; */
}
.lead {
  font-weight: bold;
  color: darkgray;
}
.lead::first-letter {
  font-size: 200%;
}
.name {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: ghostwhite;
}
.highlight {
  color: #000000;
}

/* span {
  color: #000000;
} */
