* {
  box-sizing: border-box;
  line-height: 175%;
  font-family: "Libre Baskerville", serif;
}
body {
  background: url("../images/bge.jpg") no-repeat;
  background-size: cover;
  color: aliceblue;
}
.card {
  background-color: #000;
  opacity: 0.6;
  color: floralwhite;
}
.list-group-item {
  background-color: #333;
  color: floralwhite;
  border-radius: 7px;
<<<<<<< HEAD
  border: 2px solid #000;
=======
  border: 2px solid #000000;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
>>>>>>> development
}
.list-group-item:hover {
  background-color: #000;
  border-radius: 7px;
  border: 0;
  transform: scaleX(1.1);
}
.btn-success,
.btn-primary {
  background-color: #333;
  color: gray;
  border-radius: 7px;
  border: 2px solid #000;
}
.btn-success:hover,
.btn-primary:hover {
  background-color: #000;
  border-radius: 7px;
  border: 0;
  border-bottom: 2px solid #333;
  transform: skewY(2deg);
  transform: scaleX(1.5);
  transform: scaleY(1.5);
  transform: scaleZ(1.5);
}
a i {
  color: burlywood;
}
a .facebook i {
  color: #1877f2;
}
a .twitter i {
  color: #1da1f2;
}
a .instagram i {
  color: #c32aa3;
}
a .linkedin i {
  color: #0a66c2;
}
a .reddit i {
  color: #ff4500;
}
a .github i {
  color: gray;
}
a .mail i {
  color: red;
}
a .codesandbox i {
  color: seagreen;
}
a i:hover {
  color: #fff;
}
.footer a i {
  color: #333;
}
.footer a i:hover {
  color: #fff;
}
.nav a {
  color: #fff;
}
.nav a:hover {
  background: #000;
  color: #333;
  border: 0;
}
.footer {
  background: #000;
  opacity: 0.6;
}
.lead {
  font-weight: bold;
  color: darkgray;
}
.lead::first-letter {
  font-size: 200%;
}
.name {
  font-weight: bold;
  color: ghostwhite;
}
.highlight {
  color: floralwhite;
}
